*{ 
    margin: 0; 
    padding: 0;
}

.quantidade1{ 
    color: white;  
    font-size: 60px;  
    font-family: serif;  
    background-color: rgba(0,0,0,0.5) 
}
.contador{ 
    width: 90px; 
    height: 20px;  
    background-color: rgba(0,0,0,0.5);
    color: white;  
    font-size: 15px}


body{ 
    font-family: Arial, serif, sans-serif;  
    background-color: white;
    
}



h3 {
    text-align: center; 
    margin: 20px;
} 

.container_carrinho{  

 justify-content: center; 
 align-items: center;
} 

.container_carrinho table tr th img { 
    width: 150px; 
    height: 150px;
}
 
.container_carrinho table {  
    list-style: none;  
    margin-left: auto ;
    margin-right: auto; 
    margin-bottom: 50px;

}  

.container_carrinho table tr th span { 
    padding: 50px; 
    position: relative;  

}  

thead { 
    background-color: #f5f6f5; 
    
  
} 

 
.prodView span{   
    vertical-align: top;
    
} 

#btnContinua {  
    background-color: gray;  
	border: none;  
	width: 160px;  
	border-radius:10px;  
	padding:15px;
	color: whitesmoke;  
	font-size: 12px;  
    left: 50%; 
    top: 50%; 
    transform: translate(-50%,-50%);
    margin-bottom: 50px; 
    position: relative;
    
} 

#btnContinua:hover{ 
	background-color: lightslategray;}