*{ 
    margin: 0;
}  

.bodymain { 
    max-width: 1300px;  
    margin-left: auto; 
    margin-right: auto;

}

header{  
    margin-top: 0px;
    width: 100%;  
    height: 100px;
    outline: 1px;  
    font-family: Arial, serif, sans-serif;    
    background-color: white;   

     
  
}   



#header_snkred{  
    list-style: none;   
    display: inline-block;  

    
   
}    

#header_snkred li { 
    display: inline-block;
}



.logo-snkred {   
    height: 100px; 
    width: 130px;   
    margin-top: 30px;
 
    
}

.loginBtn {       
    border-radius: 10%; 
    cursor: pointer;  
    margin-left: 1000%; 
    position: relative; 
    bottom: 38px
    
}  

.loginBtnLi { 
    margin-bottom: 30px;
}

.cartbtn{     
  
    height: 50px;  
    width: 50px;  
    margin-left: 1700%; 
    margin-bottom: 20px;
 
   
}  

.cartbtn:active { 
    background-color: lightslategray;
}

.separador{ 
    width: 100%
}


button{  
    margin-left: 800%;
	background-color: gray;  
	border: none;  
	width: 80px;  
	border-radius:10px;  
	padding:15px;
	color: whitesmoke;  
	font-size: 12px; } 

button:hover{ 
	background-color: lightslategray;}

#blackfriday {  
    margin-top: 60px;
    display: inline-block;  
    text-align: center;
    background-color: #f5f6f5; 
    padding: 20px; 
    width: 100%;
}  

footer { 
    background-color: grey; 
    height: fit-content; 
    width: 100%;   

    
} 

.footer { 
  margin: 40px;  
  display: inline-block;

   
} 

.footer ul { 
    list-style: none;  
    margin-right: 10%;  
    margin-top: 10px;
    display: inline-block;


} 

.footer ul li{ 
    padding: 5px; 
}  


.footer ul li a img:hover {  
    outline: 1px solid black;
}

.footer ul li a { 
    color: black; 
    text-decoration: none;
}   

.socialBtn li a img { 
    width: 25px; 
    height: 25px;
}
