* { 
	margin: 0; 
	padding: 0;
}
body{ 
	font-family: Arial, serif, sans-serif; 
	 background-size:contain;   
	 max-width: 2570; 
	 max-height: 100px;

	}


	


h1 { 
	margin: 20px;
}

img { 
	width: 100px; 
	height: 100px;
}

#div_head { 
	background-color: white;
} 

.perfil-cliente { 
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 15px; 
	margin-bottom: 10%;
	margin-top: 10%;
}